@font-face {
  font-family: STARWARS;
  src: url('fonts/STARWARS.woff'); 
}

#root {
  padding-bottom: 5%; 
  background-image: url('images/background.png'); 
  min-height: 700px;
  color: #EED256;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.header {
  &__logo {
    width: 25%;
    margin-top: 3%;
  }
}

.home-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;

  &__category-item {
    width: 10%;
    margin: 7%;
  }

  &__category-item>a {
    padding: 25px;
    background-color: #090401;
    border: 2px solid #EED256;
    border-radius: 10px;
    text-transform: uppercase;
    color: #EED256;
    text-decoration: none;
    font-family: STARWARS
  }

  &__category-item>a:hover {
    color: red;
    border: 2px solid red;
  }
}


.data-table {
  width: 75%; 

  &__title {
    list-style: none;
    text-transform: uppercase;
    font-family: STARWARS;
    text-decoration: none;
    margin-bottom: 5px;  
    color: greenyellow; 
  }
  
  &__item {
    list-style: none;
    text-transform: uppercase;
    font-family: STARWARS;
    text-decoration: none;
    margin-bottom: 5px;
  }

  &__item>a  {
    color: #EED256;
    text-decoration: none;
  }

  &__item>a:hover  {
    color: red;
  }
}

.data-table>tbody {
  width: 100%;
}

.table {
  margin-left: 5%;

  &__title {
    margin: 25px;
  }

  &__cell {
    padding: 5px;
    text-align: start;
  }
}

.title {
  color: greenyellow;
}